.iframe-border {
    position: relative;
}

footer{
    position: relative;
    bottom: 30px;
   }
   .footer-distributed{
    display: flex;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    align-items: center;
    
    padding: 20px 15px;
   }
    
   
    
   .footer-distributed .footer-left{
    width: 20%;
   }
    
   
    
   .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
   }
    
   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }
    
   .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
    
    
   .footer-distributed .footer-center{
    width: 50%;
   }
    
   
   .footer-distributed .footer-right{
    width: 30%;
   }
    
  
    
    
   
   @media (max-width: 880px) {
    
    .footer-distributed{
    font: bold 14px sans-serif;
    
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    }
    
    
    .main {
    line-height: normal;
    font-size: auto;
    }
    
   }

   .footer-right {
       display: flex;
       align-items: center;
   }

   .title-contact {
       margin-right: 10px;
       font-size: large;
       font-family: Montserrat, sans-serif;
   }
   
   .contacts {
       font-family: Montserrat, sans-serif;
   }