body{
    background-color: #211F1C
}

label{
    margin-bottom: 0px !important;
}

button{
    padding: 5px 10px;
    border-radius: 5px;
}

.form-control{
    width: 75%;
    height: 100%;
    border-radius: 5px;
}


.header{
    background-color: #6E675F;
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.tabContainer {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #211F1C;
}

.tabContainer .buttonContainer {
    height: 15%;
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.tabContainer .buttonContainer button {
    width: 311px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: #A39594;
    border-radius: 5px;
    border: 1px solid black;
} 

.tabContainer .buttonContainer button:hover {
    background-color: #d7d4d4;
}

.tabContainer .tabPanel {
    height: 100%;
    color: black;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    display: none;
    position: relative;
}

.noSpace{
    padding-top:0px !important;
}

/*Second sku tables*/
.skuContainer {
    width: 100%;
    position: relative;
}

.skuContainer .skuButtonContainer {
    width: 55%;
    height: 15%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.skuContainer .skuButtonContainer button {
    width: 35%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #eee;
} 

.skuContainer .skuButtonContainer button:hover {
    background-color: #d7d4d4;
}

.skuContainer .skuPanel {
    height: 80vh;
    max-height: 100%;
    width: 100%;
    color: black;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    display: none;
    position: relative;
    background-color: #EDEBD7;
}

#repTab{
    background-color: #EDEBD7;
    border-radius: 10px;
    padding: 10px;
    min-height: 80vh;
    margin-top: 30px;
    margin-bottom: 30px;
}

#repTab table{
    border-spacing: 0 2rem;
}

#repTab select{
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid black;
    text-align: center;
    width: 70%;
    text-align-last: center;
}

#repTab input{
    background-color: transparent;
    border-bottom: 2px solid black;
    text-align: center;
    width: 70%;
    text-align-last: center;
}

.sort-block{
    background-color: #EDEBD7;
    padding: 5px 10px;
    width: 80%;
    margin: 0 auto;
}

.cart-header{
    background-color: #EDEBD7;
}

.cart-body{
    background-color: #6E675F;
}

.cart-img, .cart-input{
    height: 60px;
}

.cart-input{
    width: 100%;
}

.cart-textarea{
    height: 100%;
}

.cart-container{
    width: 80%;
    margin: 0 auto;
}

#dashboard{
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    height: calc(100vh - 68px);
    max-height: calc(100vh - 68px);
    min-height: calc(100vh - 68px);
    overflow-y: hidden;
}

.custom-input {
    width: 100%;
    height: max-content;
    border: 1px solid black;
    vertical-align: middle;
    display: flex;
    padding: 5px 10px;
    background-color: white;
    max-width: 796px;
    flex-flow: row wrap;
    overflow-x: auto;
    flex-direction: row;
    min-height: 61px;
  }
  
  .custom-input_word {
    border: 1px solid #ff870f;
    padding: 2px 15px;
    padding-right: 25px;
    border-radius: 5px;
    margin-right: 5px;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .custom-input_input {
    margin-left: 5px;
    border: 0;
    outline: 0;
    flex: 1;
  }
  
  .x-button {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0;
    width: 18px;
    border: 0;
    border-left: 1px solid #ff870f;
    border-radius: 5px;
    height: 100%;
    background-color: transparent;
  }
  